/* Contenido principal para 360px - resolución GalaxyS9 */

/*GRID DETAILSHEET (CSS-GRID)*/

.related-races-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,73px);
    grid-column-gap: .5%;

}

/*MEDIA QUERIES*/

@media all and (min-width: 768px) {

    .related-races-grid{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: none;
        grid-column-gap: .5%;

    }

}

@media all and (min-width: 1280px) {

    .related-races-grid{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-column-gap: .5%;

    }

}