/* Contenido principal para 360px - resolución GalaxyS9 */

/*Related races*/


#related-races{
    color: white;
}
.related-races-grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: .5%;
    grid-auto-rows: minmax(.5%, auto);

    max-height: calc(100vw/11);
}


.grid-element{

}


.thumb {
position:relative;

}

.thumb:hover {
    z-index: 1;
}

.thumb > img {
    max-width: 100%;

}

.thumb:hover > img{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    max-width: 100%;



    transform:translate(0px) scale(1.7);
    -webkit-transition: all 450ms ease-in-out;
    -moz-transition: all 450ms ease-in-out;
    -ms-transition: all 450ms ease-in-out;
    -o-transition: all 450ms ease-in-out;
}


.thumb > figcaption {
    opacity: 0;
    visibility: hidden;
    z-index: 2;


}



.thumb > figcaption a, .thumb > figcaption a:visited{
    text-decoration: none;
    color: white;
    text-shadow: 0.05em 0.05em #333
}



.thumb > figcaption h2 {
    text-align: center;
}


.thumb:hover > figcaption {
    font-family: 'Open Sans';
    font-size: .7vw;

    width: 170%;
    padding: 1em;

    position:absolute;
    top: 40%;
    left: -35%;

    background-color: rgba(25,25,25,0.7);
    visibility: visible;
    opacity: 1;

    -webkit-transition: background-color,opacity 1500ms ease-in-out;
    -moz-transition: background-color,opacity 1500ms ease-in-out;
    -ms-transition: background-color,opacity 1500ms ease-in-out;
    -o-transition: background-color,opacity 1500ms ease-in-out;

}


h3 > span {
    font-weight: normal;
}

p > span {
    font-weight: bold;
}
.thumb p, .thumb h2, .thumb h3{
    margin: 0;
}
/*color: rgba(255,255,255,1);
transform: translate(0px, -20px);*/

/*MEDIA QUERIES*/
@media all and (max-width: 768px) {

}


@media all and (max-width: 1280px) {

}