/*HEADER HOME*/
.header {
    height: 65vh;

    background-image: url(../img/IMG_0022.jpg);
    background-repeat: no-repeat;
    background-position: top center;

    /*background: url(../img/IMG_0022.jpg) no-repeat center center fixed;*/
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
    font-size: 26px;

}

.header > h1, .header > .tagline {
    font-weight: normal;
    margin-left: 65vw;
    background-color: rgba(25,25,25,0.5);
    padding: .5rem;
    margin-right: 1rem;
    border-radius: 10px;

}

.header > h1 >  span {
    display: block;
    font-weight: 700;
    font-family: juego-tronos;

}