/*HEADER HOME*/
.header {
    height: 47vh;

    background-image: url(../img/IMG_0461.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
    font-size: 26px;

}