/* Contenido principal para 360px - resolución GalaxyS9 */

/*HEADER HOME*/
.header {
    height: 45vh;

    background-image: url(../img/IMG_0022.jpg);
    background-repeat: no-repeat;
    background-position: top center;

    /*background: url(../img/IMG_0022.jpg) no-repeat center center fixed;*/
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
    font-size: larger;

}

.header > h1, .header > .tagline {
    font-weight: normal;
    margin-left: 5vw;
    margin-right: 55vw;
    background-color: rgba(25,25,25,0.5);
    padding: .5rem;

    border-radius: 10px;

}

.header > h1 >  span {
    display: block;
    font-weight: 700;
    font-family: Bahnschrift;

}


/*MEDIA QUERIES*/
@media all and (min-width: 768px) {

}


@media all and (min-width: 1280px) {

}