/* Contenido principal para 360px - resolución GalaxyS9 */

/*HEADER HOME*/
.header {

    height: 47vh;
    background-image: url(../img/IMG_0461.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;




}


/*MEDIA QUERIES*/
@media all and (max-width: 768px) {

}


@media all and (max-width: 1280px) {

}