
.header {
    height: 65vh;

    background-image: url(../img/IMG_0022.jpg);
    background-repeat: no-repeat;
    background-position: top center;

    /*background: url(../img/IMG_0022.jpg) no-repeat center center fixed;*/


    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
    font-size: 26px;



}



.header > h1, .header > .tagline {
    font-weight: normal;
    margin-left: 65vw;
    background-color: rgba(25,25,25,0.5);
    padding: .5rem;
    margin-right: 1rem;
    border-radius: 10px;

}

.header > h1 >  span {
    display: block;
    font-weight: 700;
    font-family: juego-tronos;
    
}


/*SECTIONS*/
.main_flex{
    display: flex;
    flex-direction: column;
    /*height: 4000px;*/

}
.section_element{
    padding: 1.5rem;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*height: 300px;*/
}

#new_races{
    margin-top: -5.5rem;

}


.section_element >a {
   /* padding: 1.5rem;*/
    color: white;
    text-decoration: none;
    font-size: larger;


}


/* GRID RACES */

.section_title{
    flex:1 0 20%;
    line-height: 5vh;
}

.grid-races{
    flex:1 0 80%;

    display:flex;
    justify-content: space-between;


}

.grid-element{

    clear: both;
    flex:0 1 15%;
    border:solid red;


}



.thumb > img {
    /*height: 225px;
    width: 376px;*/

    /*width: 80%;
    height: 80%;*/

    max-width: 100%;

}


/*FOOTER*/
footer{
    color: white;
}
