/* Contenido principal para 360px - resolución GalaxyS9 */

/* LOGIN FORM */
:root {
    --max-width: 768px;
}

body{

    max-width: var(--max-width);
    margin-left: calc((100vw - var(--max-width))/2);
    margin-right: calc((100vw - var(--max-width))/2);
}

#form-login-container{
    background-image: url(../img/wallpaper-index.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.form-login{
    max-width: 300px;

}

.form-title{
    display: flex;
    background-color: var(--bg-color);
    justify-content: space-evenly;
    align-items: center;
    border-top-left-radius:  1em;
    border-top-right-radius: 1em ;
    opacity: 0.85;
}




.form-title-logo{

    width: 85px;
    height: 85px;

    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}

.form-title h1 {
    margin: 0;
    color: var(--text-color);
    font-size: small;

}

@supports  (-ms-flow-from: thingy){ /* Edge only */

    .form-title {
        justify-content: space-around;
        /* you can also add some other adjustments to size, margins etc to get the same positioning */
    }
    .form-title h1 {
        margin-right: 5%;
    }
}

.form-group{
    text-align: center;
    background-color: rgba(221,221,221,0.85);
    padding: 1.2em;

    -webkit-border-radius: 0 0 1em 1em;
    -moz-border-radius: 0 0 1em 1em;
    border-radius: 0 0 1em 1em;

}

.form-input{
    font-size: 1rem;
    padding: 0.75rem;
    margin: .5rem 0;

}

.form-input::placeholder{
opacity: 0.35;

}

.form-button{
    background-color: var(--bg-color);
    color: rgba(221,221,221,0.9);
    opacity: 0.95;
    border: 0;

    cursor: pointer;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    margin: 1rem;
    padding: .5rem;
    font-size: 1rem;
}

.form-remember-pass{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem;
}

.form-remember-pass > a{
    text-decoration: none;
    flex: 1 1 55%;
    text-align: right;
}

.form-remember-pass > a:visited{
    color: #222222;
}

.form-remember-pass > a:hover{
    font-weight: bold;
}

.form-remember-pass > label{
    flex: 1 1 30%;
    text-align: left;
}

.form-remember-pass > input{
    flex: 1 1 2%;

}



/*MEDIA QUERIES*/
@media all and (min-width: 768px) {

    :root {
        --max-width: 1280px;
    }

    body{
        max-width: var(--max-width);
        margin-left: calc((100vw - var(--max-width))/2);
        margin-right: calc((100vw - var(--max-width))/2);
    }

    .form-login{
        max-width: 450px;

    }

    .form-title h1 {
        font-size: large;
    }

    .form-title-logo {

        width: 120px;
        height: 120px;
    }

    .form-input{
        font-size: 1.5rem;
        margin: .75rem 0;
    }

    .form-button{
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        margin: 1.5rem;
        padding: .75rem;
        font-size: 1.2rem;
    }

    .form-remember-pass{
        font-size: 1rem;
    }
}


@media all and (min-width: 1280px) {

    :root {
        --max-width: 1920px;
    }

    body{

        max-width: var(--max-width);
        margin-left: calc((100vw - var(--max-width))/2);
        margin-right: calc((100vw - var(--max-width))/2);
    }

    .form-login{
        max-width: 550px;

    }

    .form-title h1 {
        font-size: x-large;
    }

    .form-title-logo {
        width: 150px;
        height: 150px;
    }

    .form-input{
        font-size: 2rem;
        margin: 1rem 0;
    }

    .form-button{
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;

        margin: 2rem;
        padding: 1rem;
        font-size: 1.5rem;
    }

    .form-remember-pass{
        font-size: 1.2rem;
    }
}