/* Contenido principal para 360px - resolución GalaxyS9 */

/*MAIN DETAILSHEET*/


main {

    background-color: #222;

    position: relative;

    width: 100%;
    margin-left: auto;
    margin-right: auto;


}

.title{
    position: absolute;
    bottom: 100%;
    color:white;
    width: 100%;


}

.title_left {
    position: absolute;
    top: 0%;

    width: 15%;
    height: 100%;

    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(48, 48, 48, 0.5) 0%, rgba(99, 99, 99, 0.5) 0%, rgba(115, 115, 115, 0.5) 0%, rgba(79, 79, 79, 0.5) 0%, rgba(0, 0, 0, 0.5) 0%, rgba(20, 20, 20, 0.5) 0%, rgba(48, 48, 48, 0.5) 0%, rgba(37, 37, 37, 0.26) 49%, rgba(31, 31, 31, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#1f1f1f', GradientType=1);
    background-color: blue;


    background: rgba(25,25,25,0.5);
    background: -moz-linear-gradient(right, rgba(25,25,25,0.5) 0%, rgba(25,25,25,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(25,25,25,0.5)), color-stop(100%, rgba(25,25,25,0)));
    background: -webkit-linear-gradient(right, rgba(25,25,25,0.5) 0%, rgba(25,25,25,0) 100%);
    background: -o-linear-gradient(right, rgba(25,25,25,0.5) 0%, rgba(25,25,25,0) 100%);
    background: -ms-linear-gradient(right, rgba(25,25,25,0.5) 0%, rgba(25,25,25,0) 100%);
    background: linear-gradient(to left, rgba(25,25,25,0.5) 0%, rgba(25,25,25,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#191919', GradientType=1 );


}

.title_center{
    position: relative;

    width: 70%;
    height: 100%;
    left:15%;
    background-color: rgba(25,25,25,0.5);
    text-align:center;
    padding: 0.5em 0;


}

.title_right {

    position: absolute;
    right:0%;
    top: 0%;
    width: 15%;
    height: 100%;

    background-color: blue;


    background: rgba(25,25,25,0.5);
    background: -moz-linear-gradient(left, rgba(25,25,25,0.5) 0%, rgba(25,25,25,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(25,25,25,0.5)), color-stop(100%, rgba(25,25,25,0)));
    background: -webkit-linear-gradient(left, rgba(25,25,25,0.5) 0%, rgba(25,25,25,0) 100%);
    background: -o-linear-gradient(left, rgba(25,25,25,0.5) 0%, rgba(25,25,25,0) 100%);
    background: -ms-linear-gradient(left, rgba(25,25,25,0.5) 0%, rgba(25,25,25,0) 100%);
    background: linear-gradient(to right, rgba(25,25,25,0.5) 0%, rgba(25,25,25,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#191919', GradientType=1 );


    z-index: 2;

}

.title_center > h1{
    width: 100%;
    margin:0;

}


.main_content{
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;


}

figure{
    margin:0;
}

figure > figcaption {
    padding-top: .5em;
}

.thumb_main{
    flex-basis: 55%;
}


video{

    width: 100%;

}

.information{
    flex-basis: 40%;
}

.information >h1> span{
    color:#666;
}

.description{
    font-size: larger;
    text-align : justify;


}

.description > p >span {
    color: #666;
    font-weight: bold;

}

#activar ~ .desplegable {display: none;overflow: hidden;}
#activar:checked ~ .desplegable {display: block;}
#activar{
    display: none;

}

.inputlabel{
    cursor: pointer;
}

/*MEDIA QUERIES*/
@media all and (min-width: 768px) {

}


@media all and (min-width: 1280px) {

}



