/* Contenido principal para 360px - resolución GalaxyS9 */

/* MENU HEADER */

.menu {
    background-color: var(--bg-color);
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

}

.menu-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0;

}



.menu-item > a {
    text-decoration: none;
    color: var(--text-color);
    padding: .5rem;
    display: block;
    transition: all .3s ease-in;
    border-radius: 10px;
    font-size: xx-small;
}

.menu-item > a:hover {
    color: azure;
    background-color: #555;

}

.search {
    width: 18%;
    margin: 0 1em 0 1em;
    font-size: x-small;
}

.log_out {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 5px solid white;
    background-color: red;

}

.log_out > span {
    display: none;

}

.logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;

    justify-content: flex-start;

    flex:0 0 60px;
    height: 60px;
    margin-left: 10px;

}


/*MEDIA QUERIES*/
@media all and (min-width: 768px) {

    .menu-item > a {
        font-size: small;
    }

    .search {
        font-size: small;

    }

    .log_out {
        width: 32px;
        height: 32px;

        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
        border: 7px solid white;

    }


}


@media all and (min-width: 1280px) {

    .menu-item > a {
        font-size: medium;
    }

    .search {
        font-size: medium;
    }

    .log_out {
        width: 35px;
        height: 35px;

    }

    .log_out:hover > span {
        display: initial;
        background: #222222;
        color: var(--text-color);
        font-size: x-large;
        position: relative;
        top: 40px;
        right: 24px;

    }

}