/* MENU HEADER */

.menu {
    background-color: #222;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu-list {
    list-style-type: none;
    /*flex: 1 90%;*/
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-right: 20px;

}

.menu-item > a {
    text-decoration: none;
    color: azure;
    padding: 1rem;
    display: block;
    transition: all .3s ease-in;
    border-radius: 10px;
}

.menu-item > a:hover {
    color: azure;
    background-color: #555;

}

.logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;

    flex:0 0 60px;
    height: 60px;
    margin-left: 20px;

}