/* Contenido principal para 360px - resolución GalaxyS9 */

*, *:after, *:before {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}




/*MEDIA QUERIES*/
@media all and (min-width: 768px) {

}


@media all and (min-width: 1280px) {

}