*, *:after, *:before {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}

/* Este es un pequeño reset */
input[type="checkbox"]:not(old) + label::-moz-selection,
input[type="checkbox"]:not(old) + label::selection {
    color: inherit;
    background-color: transparent;
}