/* Contenido principal para 360px - resolución GalaxyS9 */

@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

@font-face {
    font-family: 'Dosis', sans-serif;

}

:root {
    --max-width: 360px;
    --text-color: white;
    --bg-color: #222222;
}

* {
    font-family: Dosis;

}

body{
    background-color: var(--bg-color);
    max-width: var(--max-width);

    margin-left: calc((103vw - var(--max-width))/2);
    margin-right: calc((103vw - var(--max-width))/2);
}



main {
    max-width: var(--max-width);
    margin: 0 auto;
}


/*MEDIA QUERIES*/
@media all and (min-width: 768px) {

    :root {
        --max-width: 768px;
    }

}


@media all and (min-width: 1280px) {

    :root {
        --max-width: 1280px;
    }


}









