@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
    font-family: juego-tronos;
    src: url(../fonts/gt.ttf)
}


:root {
    --max-width: 2560px;
}

* {
    font-family: Roboto;
}

body{
    background-color: #222;
    max-width: var(--max-width);

    /*margin-left: calc(50% - 50vw + .6rem);
    margin-right: calc(50% - 50vw + .6rem);*/
    margin-left: calc((100vw - var(--max-width))/2);
    margin-right: calc((100vw - var(--max-width))/2);
}

@media all and (max-width: 2560px){
    body{
        margin-left:0px;
        margin-right: 0px;
    }
}


main {
    max-width: var(--max-width);
    margin: 0 auto;
}










